* {
    margin: 0;
    padding: 0;
    list-style: none;
}

body {
    background-color: hsl(0, 0%, 90%);
    font-family: sans-serif;
}

header {
    display: flex;
    justify-content: space-between;
    margin: 2rem;
}

nav  > ul {
    display: flex;
    gap: 1rem;
}

p {
    font-family: serif;
}

h1 {
    font-weight: 300;
}

img {
    max-width: 100%;
}

h1,
h2 {
    text-transform: uppercase;
    letter-spacing: 0.1rem;
}

.profile {
    max-height: 200px;
    border: solid 0.5rem darkblue;
    border-radius: 100%;
}