* {
    margin: 0;
    padding: 0;
    list-style: none;
    text-decoration: none;
}

body {
    background-color: hsl(0, 0%, 90%);
    font-family: 'Roboto Condensed', sans-serif;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 2rem;
    background-color: black;
    color: white;
}

h1 {
    font-size: 3rem;
    text-transform: uppercase;
    letter-spacing: -0.2rem;
}

h2 {
    text-transform: uppercase;
    letter-spacing: 0.1rem;
}

p {
    font-family: 'EB Garamond', serif;
}

nav ul {
    display: flex;
    gap: 2rem;
}

nav a {
    letter-spacing: 0.1rem;
    color: white;
}

nav li {
    transition: transform 800ms;
    cursor: pointer;
}

nav li:hover {
    transform: translateY(-0.5rem);
    transition: transform 300ms;
}

nav li:active {
    transform: translateY(0rem);
}

nav a {
    border-bottom: solid 0.1rem hsl(0, 0%, 100%, 0.0);
    padding: 0.5rem 0rem;
    transition: border 800ms, padding 800ms;
}

nav a:hover {
    border-bottom: solid 0.1rem hsl(0, 0%, 100%, 1.0);
    padding-bottom: 1rem;
    transition: border 300ms, padding 300ms;
}

nav a:active {
    padding-bottom: 0.5rem;
}

#active-link {
    border-bottom: solid 0.1rem hsl(0, 0%, 100%, 1.0);
}

.banner {
    position: relative;
    height: max(50vw, 50vh);
    max-height: 70vh;
}

.banner img {
    filter: brightness(0.8);
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.banner h2 {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 4rem;
    font-weight: 300;
    letter-spacing: 1rem;
    color: white;
}

.profile {
    max-height: 200px;
    border: solid 0.5rem darkblue;
    border-radius: 100%;
}